html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/food.png");
}

h1 {

  font-size: 40px !important;
  margin-top: 40px !important;
}

h2 {
  font-size: 24px !important;
}

h1, h2 {
  text-align: center !important;
  font-family: 'Luckiest Guy', cursive !important;
  color: #01394f !important;
}

#backBox{

  border-radius: 25px;
  background: #0bbc93;
  padding: 5px;
  width: auto;

}


#bigIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-weight: bold;
}

.create-form {
 display: inline-block;
}

#burgerName{
  margin-top: 15px;
  font-size: 18px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

button {

background: #01394f !important;
font-family: 'Oswald', sans-serif !important;
color:#0bbc93 !important;

}

.change-devoured {

    border-radius: 20px;
    float: right;
}

.btn {
  font-size: 18px !important;
}

#listItem{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  background-color: white;
  border-radius: 25px;
  padding: 8px;
  margin: 10px;
}

.burgerList {
  color: #01394f !important;
  background-color: #fff3b0 !important;
}

.devouredList {

  color: #cc8826;
  background-color: #edaf53 !important;

}





